

.container{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(51,45,40);
background: radial-gradient(circle, rgba(51,45,40,1) 14%, rgba(0,0,0,1) 97%);
}



.container2{
    width: 30%;
    height: 99%;
    padding: 5% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    border-radius: 50px  555px 50px;
    background-position: center;
    border: 5px solid white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.548),rgba(0, 0, 0, 0.575)), url(https://images.unsplash.com/photo-1588666309990-d68f08e3d4a6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fGJvb2t8ZW58MHx8MHx8fDA%3D);
}


.container2>h1{
    width: 100%;
    border-radius: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    font-size: 2.8vmax;
    margin-left: -35%;
    margin-top: -7%;
}

form{
    width: 100%;
    height: 90%;
    gap: 2%;
    display: flex;
    padding: 1% 0;
    flex-direction: column;
    align-items: center;
    text-align: center;

}


form>input{
    width: 60%;
    border-radius: 50px;
    padding: 2%;
    font-size: 1vmax;
    font-weight: 900;
    border: none;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

form>select{
    border: none;
    text-align: center;
    width: 60%;
    font-size: 1vmax;
    padding: 2%;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 900;
    border-radius: 50px;
    margin-left: 10%;
}

::placeholder{
    color: #000;
}

.inp1{
    margin-top: 2%;
    margin-left: -30%;
}

.inp2{
    margin-left: -20%;
}

.inp3{
    margin-left: -10%;
}


.inp4{
    margin-left: 0%;
}

.inp5{
    margin-left: 20%;
}

.inp6{
    margin-left: 30%;
}

form>button{
    font-size: 1.2vmax;
    padding: 2% 5%;
    border-radius: 50px;
    border: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
    font-weight: 900;
    margin-left: 35%;
    color: white;
    margin-top: 2%;
    cursor: pointer;
}


@media (min-width: 360px) and (max-width: 500px) {
    

    .container{
        width: 100%;
        height: 770px;
        align-items: center;
        justify-content: center;
       
        
    }



    .container2{
        width: 85%;
        height: 89%;
        border-radius: 100px;
    }
    
    
    .container2>h1{
        width: 250px;
        padding: 3%;
        border-radius: 20px;
        margin-left: 0%;
        margin-top: 2%;
        
    }
    
    form{
        height: 70%;
        margin-top: 2%;
        gap: 3%;

      
    }

    .inp1{
        margin-top: 0%;
        margin-left: 0%;
    }
    
    .inp2{
        margin-left: 0%;
    }
    
    .inp3{
        margin-left: 0%;
    }
    
    
    .inp4{
        margin-left: 0%;
    }
    
    .inp5{
        margin-left: 0%;
    }
    
    .inp6{
        margin-left: 0%;
    }
    
    
    form>input{
        width: 230px;
        padding: 3%;
        font-size: 1.5vmax;

    }

    form>select{
        width: 230px;
        padding: 3%;
        font-size: 1.5vmax;
        margin-left: 0%;

       
    }

   
    form>button{
        font-size: 2.2vmax;
        padding: 4% 15%;
        margin-left: 0%;

        
    }





}


@media (min-width: 50px) and (max-width: 700px) {
    

    .container{
        width: 100%;
        height: 770px;
        align-items: center;
        justify-content: center;
       
        
    }



    .container2{
        width: 85%;
        height: 89%;
        border-radius: 100px;
    }
    
    
    .container2>h1{
        width: 300px;
        padding: 3%;
        border-radius: 20px;
        margin-left: 0%;
        margin-top: 0%;
        
    }
    
    form{
        height: 70%;
        margin-top: 2%;
        gap: 3%;

      
    }

    .inp1{
        margin-top: 0%;
        margin-left: 0%;
    }
    
    .inp2{
        margin-left: 0%;
    }
    
    .inp3{
        margin-left: 0%;
    }
    
    
    .inp4{
        margin-left: 0%;
    }
    
    .inp5{
        margin-left: 0%;
    }
    
    .inp6{
        margin-left: 0%;
    }
    
    
    form>input{
        width: 230px;
        padding: 2%;
        font-size: 1.5vmax;

    }

    form>select{
        width: 230px;
        padding: 2%;
        font-size: 1.5vmax;
        margin-left: 0%;

       
    }

   
    form>button{
        font-size: 2vmax;
        padding: 2% 15%;
        margin-left: 0%;

        
    }





}


@media (min-width: 700px) and (max-width: 900px) {
    

    .container{
        width: 100%;
        height: 770px;
        align-items: center;
        justify-content: center;
       
        
    }



    .container2{
        width: 85%;
        height: 89%;
        border-radius: 100px;
    }
    
    
    .container2>h1{
        width: 400px;
        padding: 2%;
        border-radius: 20px;
        margin-left: 0%;
        margin-top: -5%;
        
    }
    
    form{
        height: 70%;
        margin-top: 2%;
        gap: 3%;

      
    }

    .inp1{
        margin-top: 0%;
        margin-left: 0%;
    }
    
    .inp2{
        margin-left: 0%;
    }
    
    .inp3{
        margin-left: 0%;
    }
    
    
    .inp4{
        margin-left: 0%;
    }
    
    .inp5{
        margin-left: 0%;
    }
    
    .inp6{
        margin-left: 0%;
    }
    
    
    form>input{
        width: 230px;
        padding: 1%;
        font-size: 1.5vmax;

    }

    form>select{
        width: 230px;
        padding: 1.5%;
        font-size: 1vmax;
        margin-left: 0%;

       
    }

   
    form>button{
        font-size: 2vmax;
        padding: 1% 10%;
        margin-left: 0%;

        
    }





}


@media (min-width: 900px) and (max-width: 1100px) {
    

    .container{
        width: 100%;
        height: 770px;
        align-items: center;
        justify-content: center;
       
        
    }



    .container2{
        width: 55%;
        height: 89%;
        border-radius: 100px;
    }
    
    
    .container2>h1{
        width: 300px;
        padding: 2%;
        border-radius: 20px;
        margin-left: 0%;
        margin-top: -5%;
        
    }
    
    form{
        height: 70%;
        margin-top: 2%;
        gap: 3%;

      
    }

    .inp1{
        margin-top: 0%;
        margin-left: 0%;
    }
    
    .inp2{
        margin-left: 0%;
    }
    
    .inp3{
        margin-left: 0%;
    }
    
    
    .inp4{
        margin-left: 0%;
    }
    
    .inp5{
        margin-left: 0%;
    }
    
    .inp6{
        margin-left: 0%;
    }
    
    
    form>input{
        width: 230px;
        padding: 1.5%;
        font-size: 1.5vmax;

    }

    form>select{
        width: 230px;
        padding: 1.5%;
        font-size: 1.5vmax;
        margin-left: 0%;

       
    }

   
    form>button{
        font-size: 2vmax;
        padding: 2% 10%;
        margin-left: 0%;

        
    }





}


@media (min-width: 1100px) and (max-width: 1300px) {
    



    .container{
        height: 745px;

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(51,45,40);
    background: radial-gradient(circle, rgba(51,45,40,1) 14%, rgba(0,0,0,1) 97%);
    }
    
    
    
    .container2{
        height: 85%;

        width: 30%;
        padding: 5% 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1%;
        border-radius: 50px  555px 50px;
        background-position: center;
        border: 5px solid white;
        background-image:linear-gradient(rgba(0, 0, 0, 0.548),rgba(0, 0, 0, 0.575)), url(https://images.unsplash.com/photo-1588666309990-d68f08e3d4a6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fGJvb2t8ZW58MHx8MHx8fDA%3D);
    }
    
    
    .container2>h1{
        width: 100%;
        border-radius: 50px;
        text-align: center;
        color: rgb(0, 0, 0);
        background-color: aliceblue;
        font-size: 2.8vmax;
        margin-left: -35%;
        margin-top: -7%;
    }
    
    form{
        gap: 3%;
        margin-top: 5%;

        width: 100%;
        height: 90%;
        display: flex;
        padding: 1% 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    
    }
    
    
    form>input{

        padding: 3%;
        width: 70%;

        border-radius: 50px;
        font-size: 1vmax;
        font-weight: 900;
        border: none;
        border: 2px solid rgb(0, 0, 0);
        text-align: center;
    }
    
    form>select{
        padding: 3%;
        width: 70%;

        border: none;
        text-align: center;
        font-size: 1vmax;
        border: 2px solid rgb(0, 0, 0);
        font-weight: 900;
        border-radius: 50px;
        margin-left: 10%;
    }
    
    ::placeholder{
        color: #000;
    }
    
    .inp1{
        margin-top: 2%;
        margin-left: -30%;
    }
    
    .inp2{
        margin-left: -20%;
    }
    
    .inp3{
        margin-left: -10%;
    }
    
    
    .inp4{
        margin-left: 0%;
    }
    
    .inp5{
        margin-left: 20%;
    }
    
    .inp6{
        margin-left: 30%;
    }
    
    form>button{
        padding: 3% 15%;


        font-size: 1.2vmax;
        border-radius: 50px;
        border: none;
        border: 2px solid rgb(255, 255, 255);
        background-color: black;
        font-weight: 900;
        margin-left: 35%;
        color: white;
        margin-top: 2%;
        cursor: pointer;
    }
    



}


